ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

* {
    box-sizing: border-box;
}

.product-item {
    width: 250px;

    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
}

.product-item:hover {
    border-bottom: 2px solid #fc5a5a;
}

.product-item img {
    display: block;
    width: 100%;
}

.product-list {
    background: #fafafa;
    padding: 15px 0;
}

.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 0 0;
}

.price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: green;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}

.button-update {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: blue;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}

.button-delete {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: red;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}

.cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img {
    width: 280px;
    height: 350px;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }
  
          body {
              /*text-align: center;*/
              margin: 10;
              font-family: Verdana, Arial, sans-serif;
              font-size: 16px;
          }
  
          /* Настраиваем внешний вид полей ввода*/
          input {
              display: inline-block;
              margin: 10px auto;
              border: 2px solid #eee;
              padding: 10px 20px;
              font-family: Verdana, Arial, sans-serif;
              font-size: 16px;
          }
  
          textarea {
              display: inline-block;
              margin: 10px auto;
              border: 2px solid #eee;
              padding: 10px 20px;
              font-family: Verdana, Arial, sans-serif;
              font-size: 16px;
          }